<a href="https://colab.research.google.com/github/prathamjain0016/py-training/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello colab")

Hello colab

In [ ]:
age = 20
age = 30
price = 19.4
first_name = 'foggy'
is_online = False
print(is_online)

False

In [ ]:
name = 'Harry'
age = 20
is_new_patient = True

In [ ]:
name = input("What is your name? ")
print("Hello "+ name)

What is your name? foggy
Hello foggy

In [ ]:
birth_year = input("Enter your birth year: ")
age = 2024-int(birth_year)
print(age)

Enter your birth year: 2002
22

In [ ]:
first = float(input("Enter the first number: "))
second = input("Enter the second number: ")

sum = first + float(second)

print("sum: " + str(sum))

Enter the first number: 10
Enter the second number: 20
sum: 30.0

In [ ]:
course = "Python for begninners"
print('Python' in course)
print(course)

True
Python for begninners

In [ ]:
print(10 ** 3)

1000

In [ ]:
x = (10 + 3) * 2
print(x)

26

In [ ]:
x = 3 == 2
print(x)

False

In [ ]:
price = 5
print(not price > 10 )

True

In [ ]:
temperature = 5

if temperature > 30:
  print("It's a hot day")
  print("Abee yarr")
elif temperature > 20:
  print("Its a nice day")
elif temperature > 10:
  print("It's is cold day")
else:
  print("Its cold")

Its cold

In [ ]:
weight = float(input("Enter your weight: "))
metric = input("(K)g or (L)bs: ")

if metric.upper() == "K":
  weight *= 2.2
  print("weight in lbs: "+ str(weight))
elif metric.upper() =="L":
  weight *= 0.4534
  print("weight in kg: ",weight)
else:
  print("Invalid input")

Enter your weight: 122
(K)g or (L)bs: l
weight in kg:  55.314800000000005

In [ ]:
i = 1
while i<= 10:
  print(i * '*')
  i = i+1

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
names = ["john", "bob", "Mosh", "Sam", "marry"]
names[0] = "jon"

print(names[0:3])

['jon', 'bob', 'Mosh']

In [ ]:
numbers = [1,2,3,4,5]
print(len(numbers))

5

In [ ]:
numbers = [1,2,3,4,5]
for item in numbers:
  print(item)

1
2
3
4
5

In [ ]:
for item in range(5,10,2):
  print(item)

5
7
9

In [ ]:
numbers = (1,2,3,3,2,3)
numbers.index(3)

2

In [ ]:

height =input("Enter the height: ")
print(height)

Enter the height: 134
134

In [ ]:
def first_func():
  print("good")
  print("best")
  print(45/89)

first_func()

good
best
0.5056179775280899

In [ ]:
def addition(num1,num2):
  """This is addition""" #doc string
  print("The addition is ", num1 + num2)

addition(45,65)
print(addition.__doc__)

The addition is  110
This is addition

In [ ]:
def myfunction(): #no argument function
  a=45
  b=14
  print("Sum ===> ", a+b)

myfunction()

Sum ===>  59

In [ ]:
#Argument Based Function
#Position argument Function

#here new have 4 parameters
def new(data1, data2, data3, data4):
  print("sub ==> ", data1 - data2)
  print("multiply ==> ", data3*data4)
  print("add ==> ", data2+data4)

new(1,2,3,4)

sub ==>  -1
multiply ==>  12
add ==>  6

In [ ]:
#Keyword agrument function

def bio(name,age,roll,city):
  print("Hello",name,"Your Roll is", roll, "and Age is", age, "and city is", city)

bio("sam", roll = 456, age = 22, city = "Mumbai")

Hello sam Your Roll is 456 and Age is 22 and city is Mumbai

In [ ]:
 #default argument function
 #here few value fixed with the data at the of creation

def my(city="NewYork", coun = "USA", sector = 0, l_mark = "XYZ"):
  print("hello your city is ", city , "with country", coun, "sector name is", sector, "with landmark", l_mark)

my()
my("Delhi", "Inida")
my("Munmbai",l_mark="Earth")

hello your city is  NewYork with country USA sector name is 0 with landmark XYZ
hello your city is  Delhi with country Inida sector name is 0 with landmark XYZ
hello your city is  Munmbai with country USA sector name is 0 with landmark Earth

In [ ]:
#variable length function
#It accepts multiple data un single paramenter
#here we pass parameter like e.g(*X) is parameter with * and * represents the variable length
#it is also considered as (*args)
#return type is tuple

def vars(*y):
  print("y====", y, type(y))
vars(45,989,78,"hello",78)

# if we have variable length function with positional args

def vars1(a,*y):
  print("y====>",y)

vars1(1,2,3,4,5)

y==== (45, 989, 78, 'hello', 78) <class 'tuple'>
y====> (2, 3, 4, 5)

In [ ]:
#keyword variable length function
#here we have variable function with keyword as this consider
#as variable length keyword argument
#syntax -- **a(keyword argument)(variable length function)

def disp(**a): #here a is keyword variable length function(**kwargs)
  print("data ===",a,type(a))

disp(a=1,b=23.4,c=[1,2,3,4,5,6])

data === {'a': 1, 'b': 23.4, 'c': [1, 2, 3, 4, 5, 6]} <class 'dict'>

In [ ]:
#Here is python 3.8 we have new operator which is postion only parameter

'''
We have new function parameter syntax "/"
and it is use to indiacate that some parameters can be use as
positionally and can not be used as keywords.
'''
def new(a,b,c,/,d,e):
  print(a,b,c,d,e)

new("A","b",1,d=2,e=3)

A b 1 2 3

In [ ]:
def check(a,b):
  return a+b

sum=check(43,44)
print(sum)

87

In [ ]:
def new(a,b):
  c = a+b
  return c
  x = 5
  print(x)

print(new(45,89))

134

In [ ]:
def oprn(a,b):
  return a+b,a-b,a*b,a/b

print(oprn(2,3))

a,b,c,d = oprn(3,4)
print(a,b,c,d)

(5, -1, 6, 0.6666666666666666)
7 -1 12 0.75

In [ ]:
def even_odd(a):
  if a%2 == 0:
    return "even"
  else:
    return "odd"

print(even_odd(337))

odd

In [ ]:
def test(a,b):
  print(a+b)

print(test(1,2))

3
None

In [ ]:
#Nested function
def A(a):
  print("Statement 1 in A", a)
  def B(b):
    print("Statement 2 in B",b)
    def C(c):
      print("Statement 3 in c", c)
      def D(d):
        print("Statement 4 in d", d)
      D(33)
    C(44)
  B(56)
A(45)

#here outer function call inner function
#we never execute inner function directly
#we execute outer then we call inner

Statement 1 in A 45
Statement 2 in B 56
Statement 3 in c 44
Statement 4 in d 33

In [ ]:
def X(a,b):
  print("I am outer")
  def Y(data):
    return data**b
  return Y(a)

print("Output ", X(4,3))

I am outer
Output  64

In [2]:
x = 47
def f1():

  x = 888
  print(x)
  y = globals()["x"]
  print(y)

f1()

888
47

In [10]:
def even_odd(*num):
  even = []
  odd = []
  print("data === ", num)
  for i in num:
    if i%2 == 0:
      even.append(i)
    else:
      odd.append(i)
  print("Even == ", even,"\nodd ==", odd)

even_odd(1,2,3,4,5,6,7)

data ===  (1, 2, 3, 4, 5, 6, 7)
Even ==  [2, 4, 6]
odd == [1, 3, 5, 7]

In [11]:
def sum(*data):

  sum = 0

  for i in data:
    sum += i
  return sum

print(sum(1,2,3,4,5,6,7))

28

In [15]:
def check(data):
  d = {"upper":0, "Lower":0}

  for i in data:
    if i.isupper():
      d["upper"] += 1
    elif i.islower():
      d["Lower"] += 1
    else:
      pass

  print("Actual data", data , "Length", len(data))
  print("Upper ", d["upper"])
  print("lower ", d["Lower"])

check("AsK ItlOUd")

Actual data AsK ItlOUd Length 10
Upper  5
lower  4

In [19]:
def sort_str(data):
  data = data.split(",")
  print("data ", data)
  data.sort()
  print("data", data)
  data = " ".join(data)
  print(data)

sort_str("hello,zebra,cool,wheat,best,apple,gun")

data  ['hello', 'zebra', 'cool', 'wheat', 'best', 'apple', 'gun']
data ['apple', 'best', 'cool', 'gun', 'hello', 'wheat', 'zebra']
apple best cool gun hello wheat zebra

In [21]:
def fun():
  x = 1
  y = 2
  srr = "ssff"
  print("abc")

print(fun.__code__.co_nlocals)

3

In [23]:
#WAP to check number of digits in a number

def check_digits(num):

  count = 0

  while num!=0:

    num = num // 10
    count += 1
  print(count)

check_digits(99900000)

8

In [29]:
#WAP to reverse a number and also check if the number is a palindrome

def reverse_num(num):

  global temp
  temp = 0

  while num!=0:

    temp = temp*10 + (num%10)
    num = num//10

  print(temp)


def check_palindrome(num):

  reverse_num(num)

  if temp == num:
    print("isPalindrome")
  else:
    print("notPalindrome")

check_palindrome(12214)

41221
notPalindrome

In [32]:
def data(n,a,ids):
  print("Your name is {} and your age is {} and your id is {}".format(n,a,ids))

data("Pratham",22,1598)

def stud(n,a,ids,m,s):
  data(n,a,ids)
  print("your marks are {} and your subject is {}".format(m,s))

stud("Foggy",22,1598,935,"snowflakes")

Your name is Pratham and your age is 22 and your id is 1598
Your name is Foggy and your age is 22 and your id is 1598
your marks are 935 and your subject is snowflakes

In [36]:
pip install memory_profiler

Collecting memory_profiler
  Downloading memory_profiler-0.61.0-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from memory_profiler) (5.9.5)
Downloading memory_profiler-0.61.0-py3-none-any.whl (31 kB)
Installing collected packages: memory_profiler
Successfully installed memory_profiler-0.61.0

In [37]:
from memory_profiler import profile

In [1]:

def fib(n):

  if n<=1:
    return 1
  else:
    return (fib(n-1)+fib(n-2))
print(fib(6))

f = fib

f(9)

13

55

In [3]:
#clouse function
#If a function have a inner function and return its output to the outer function
#it is called clouser function

def outer(name):
  print("name",name)
  def age(b):
    print('Age', b)
  return age

print(outer("Pratham"))

x = outer("foggy")
x(22)

name Pratham
<function outer.<locals>.age at 0x7fe204ae3370>
name foggy
Age 22

In [6]:
#Anonymus function

"""
iF we have a function but we dont have its name,
Means nameless function is called anonymus function.

--LAMDA FUNCTION---
By using landa function we can write very concise code
so that readability of the code will improve
here we have 3 components 1) - keyword(lambda)
2) - bound variables 3)- body
"""

def add(a,b):
  print("sum",a+b)
add(10,2)

print((lambda x,y:x+y)(1,2))
a = lambda x,y:x*y
print(a(2,3))

sum 12
3
6

In [10]:
#check even and odd

x = lambda x: "Even " + str(x) if x%2 == 0 else "odd " + str(x)
print(x(98))
print(x(99))

Even 98
odd 99

In [15]:
print((lambda x,y,z: x+y+z)(1,2,3))
print((lambda x , y =2, z = 3 : x+y+z)(2))
print((lambda *agrs: sum(agrs))(1,2,3,4,5))
print((lambda **kwargs : sum(kwargs.values()))(a=1,b=2,c=3,d=4))

6
7
15
10

In [17]:
data = ['AIL00','AIL20','AIL30','AIL3','AIL221','AIL170','AIL782']

print(sorted(data))

x = sorted(data, key = lambda x : int(x[3:]))
print(x)

['AIL00', 'AIL170', 'AIL20', 'AIL221', 'AIL3', 'AIL30', 'AIL782']
['AIL00', 'AIL3', 'AIL20', 'AIL30', 'AIL170', 'AIL221', 'AIL782']

In [19]:
#Map and filter

#Filter function -- In this we use condition and data...
#if condition true and satisfies with data then it return
#output otherwise not.
#filter function except condition and data

l = [12,64,78,95,63,45,71,13]

def check(a):
  if a%2==0:
    return True
  else:
    return False

f1 = filter(check,l)
print("Filtered list", list(f1))

#using lambda

print(list(filter(lambda x : x%2 == 0,l)))

Filtered list [12, 64, 78]
[12, 64, 78]

In [22]:
#Map -- here is accepts data and modify it as per the logic
#It also accept data and function
#map(func,data)

def sqr(data):
  return data **2

x = map(sqr,l)
print(list(x))

print(list(map(lambda x : x**2,l)))

[144, 4096, 6084, 9025, 3969, 2025, 5041, 169]
[144, 4096, 6084, 9025, 3969, 2025, 5041, 169]